%tr
  %td.emptydata{style: emptydata_style}
    - if path.present?
      = link_to "You don't have any #{key.to_s.humanize.downcase.pluralize} yet", path

      = icon_link_to :'icc-add', "Create #{key.to_s.humanize.downcase}", path, class: 'blue'
    - else
      = "You don't have any #{key.to_s.humanize.downcase.pluralize} yet"
