.footer
  .container-fluid
    .row-fluid.top
      .span5
        = image_tag("instedd-bootstrap/footer/InSTEDDPlatform.png", :vspace => "7", :title => "InSTEDD Platform")
        %br
        InSTEDD has created an evolving platform of free and open source technologies to support humanitarian causes. These tools can be used individually or as building blocks for larger solutions.
        %a{:href => "http://instedd.org/technologies/"} Click here
        to learn more
      .span7
        %a.more.pull-right{:href => "http://instedd.org/technologies/"} Learn more
        %br
        - @instedd_app_name = capture do
          = yield :app_name
        #instedd-footer.pull-right{"data-app-name" => @instedd_app_name}
    .row-fluid
      .span4
        %a{:href => "http://instedd.org"} © 2014 InSTEDD
        = render "instedd/footer_links_left"
      .span6.offset2.aright
        = render "instedd/footer_links_right"
        - if content_for?(:app_version)
          %span#version
            Version:
            = yield :app_version
