!!!
%html
  %head
    %title
      = yield :html_title
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .flash_message
    .wrapper
      = render "instedd/header"
      - if content_for?(:app_logo)
        = render "instedd/app_header"
      .content
        .container-fluid
          = content_for?(:instedd_content) ? yield(:instedd_content) : yield
      = render "instedd/footer"
