.span12
  %h1 Helpers
  %hr

  %p
    = icon_link_to :'icf-delete', '', '#'
    %code
      \= icon_link_to :'icf-delete', '', '#'
  %br
  %p
    = icon_link_to :'icf-delete', 'Delete', '#'
    %code
      \= icon_link_to :'icf-delete', 'Delete', '#'
  %br
  %p
    = icon_link_to :'icf-delete', '', '#', before: 'Delete'
    %code
      \= icon_link_to :'icf-delete', '', '#', before: 'Delete'
  %br
  %br

  %h1 ICONS
  %hr
  %h3 Color icon buttons
  %p
    = icon_link_to :'icc-add', '', '#', {:class => 'blue'}
    %code
      \= icon_link_to :'icc-add', '', '#', {:class => 'blue'}
  %p
    = icon_link_to :'icc-add', 'Add me', '#', {:class => 'blue'}
    %code
      \= icon_link_to :'icc-add', 'Add me', '#', {:class => 'blue'}
  %p
    = icon_link_to :'icc-remove', '', '#', {:class => 'red'}
    %code
      \= icon_link_to :'icc-remove', '', '#', {:class => 'red'}
  %p
    = icon_link_to :'icc-accept', '', '#', {:class => 'green'}
    %code
      \= icon_link_to :'icc-accept', '', '#', {:class => 'green'}


  %hr

  %h3 Plain icon buttons
  %p
    %code
      \= icon_link_to :'icp-block', '', '#', {:class => 'plain'}
  .btn-grouped
    = icon_link_to :'icp-block', '', '#', {:class => 'plain'}
    = icon_link_to :'icp-add', '', '#', {:class => 'plain'}
    = icon_link_to :'icp-remove', '', '#', {:class => 'plain'}
    = icon_link_to :'icp-close', '', '#', {:class => 'plain'}
    = icon_link_to :'icp-previous', '', '#', {:class => 'plain'}
    = icon_link_to :'icp-next', '', '#', {:class => 'plain'}
    = icon_link_to :'icp-left', '', '#', {:class => 'plain'}


  %hr

  %h3 Fancy icon buttons
  %p
    %code
      \= icon_link_to :'icf-arrow', '', '#'
  .btn-grouped
    = icon_link_to :'icf-arrow', '', '#'
    = icon_link_to :'icf-facebook', '', '#'
    = icon_link_to :'icf-twitter', '', '#'
    = icon_link_to :'icf-user', '', '#'
    = icon_link_to :'icf-edit', '', '#'
    = icon_link_to :'icf-rss', '', '#'
    = icon_link_to :'icf-claim', '', '#'
    = icon_link_to :'icf-branch', '', '#'
    = icon_link_to :'icf-settings', '', '#'
    = icon_link_to :'icf-message', '', '#'
    = icon_link_to :'icf-close', '', '#'
    = icon_link_to :'icf-insert', '', '#'
    = icon_link_to :'icf-help', '', '#'
    = icon_link_to :'icf-record', '', '#'
    = icon_link_to :'icf-recording', '', '#'
    = icon_link_to :'icf-play', '', '#'
    = icon_link_to :'icf-pause', '', '#'
    = icon_link_to :'icf-stop', '', '#'
    = icon_link_to :'icf-stopped', '', '#'
    = icon_link_to :'icf-arrange', '', '#'
    = icon_link_to :'icf-uturn', '', '#'
    = icon_link_to :'icf-folder', '', '#'
    = icon_link_to :'icf-request', '', '#'
    = icon_link_to :'icf-users', '', '#'
    = icon_link_to :'icf-apple', '', '#'
    = icon_link_to :'icf-android', '', '#'
    = icon_link_to :'icf-location', '', '#'
    = icon_link_to :'icf-export', '', '#'
    = icon_link_to :'icf-import', '', '#'
    = icon_link_to :'icf-merge', '', '#'
    = icon_link_to :'icf-leave', '', '#'
    = icon_link_to :'icf-configuration', '', '#'
    = icon_link_to :'icf-accept', '', '#'
    = icon_link_to :'icf-snapshot', '', '#'
    = icon_link_to :'icf-preview', '', '#'
    = icon_link_to :'icf-teach', '', '#'
    = icon_link_to :'icf-left', '', '#'
    = icon_link_to :'icf-right', '', '#'
    = icon_link_to :'icf-bug', '', '#'
    = icon_link_to :'icf-block', '', '#'
    = icon_link_to :'icf-phone', '', '#'
    = icon_link_to :'icf-add', '', '#'
    = icon_link_to :'icf-remove', '', '#'
    = icon_link_to :'icf-chat', '', '#'
    = icon_link_to :'icf-bulb', '', '#'
    = icon_link_to :'icf-print', '', '#'
    = icon_link_to :'icf-dial', '', '#'
    = icon_link_to :'icf-pdf', '', '#'
    = icon_link_to :'icf-delete', '', '#'
    = icon_link_to :'icf-search', '', '#'
    = icon_link_to :'icf-database', '', '#'
    = icon_link_to :'icf-excel', '', '#'
    = icon_link_to :'icf-csv', '', '#'
    = icon_link_to :'icf-linux', '', '#'
    = icon_link_to :'icf-ubuntu', '', '#'
    = icon_link_to :'icf-fullscreen', '', '#'
    = icon_link_to :'icf-restore', '', '#'
    = icon_link_to :'icf-share', '', '#'
    = icon_link_to :'icf-wizard', '', '#'
    = icon_link_to :'icf-sync', '', '#'
    = icon_link_to :'icf-number', '', '#'
    = icon_link_to :'icf-text', '', '#'
    = icon_link_to :'icf-xy', '', '#'
    = icon_link_to :'icf-singleoption', '', '#'
    = icon_link_to :'icf-multipleoptions', '', '#'
    = icon_link_to :'icf-tag', '', '#'
    = icon_link_to :'icf-hierarchy', '', '#'
    = icon_link_to :'icf-date', '', '#'
    = icon_link_to :'icf-site', '', '#'
    = icon_link_to :'icf-report', '', '#'
    = icon_link_to :'icf-yesno', '', '#'
    = icon_link_to :'icf-government', '', '#'
    = icon_link_to :'icf-key', '', '#'


  %hr

  %h3 Large icon buttons
  %p
    %code
      \= icon_link_to :'icfl-text', '', '#'
  .btn-grouped
    = icon_link_to :'icfl-text', '', '#'
    = icon_link_to :'icfl-paragraph', '', '#'
    = icon_link_to :'icfl-number', '', '#'
    = icon_link_to :'icfl-location', '', '#'
    = icon_link_to :'icfl-singleoption', '', '#'
    = icon_link_to :'icfl-multipleoptions', '', '#'
    = icon_link_to :'icfl-date', '', '#'
    = icon_link_to :'icfl-groupchat', '', '#'
    = icon_link_to :'icfl-alertandreport', '', '#'
    = icon_link_to :'icfl-alert', '', '#'
    = icon_link_to :'icfl-report', '', '#'
    = icon_link_to :'icfl-excel', '', '#'
    = icon_link_to :'icfl-csv', '', '#'
    = icon_link_to :'icfl-snapshot', '', '#'
    = icon_link_to :'icfl-xy', '', '#'
    = icon_link_to :'icfl-help', '', '#'
    = icon_link_to :'icfl-government', '', '#'
    = icon_link_to :'icfl-hierarchy', '', '#'
    = icon_link_to :'icfl-user', '', '#'
    = icon_link_to :'icfl-language', '', '#'
    = icon_link_to :'icfl-site', '', '#'
    = icon_link_to :'icfl-building', '', '#'
    = icon_link_to :'icfl-house', '', '#'
    = icon_link_to :'icfl-barn', '', '#'
    = icon_link_to :'icfl-factory', '', '#'
    = icon_link_to :'icfl-mountain', '', '#'
    = icon_link_to :'icfl-pine', '', '#'
    = icon_link_to :'icfl-fire', '', '#'
    = icon_link_to :'icfl-police', '', '#'
    = icon_link_to :'icfl-medicalkit', '', '#'
    = icon_link_to :'icfl-university', '', '#'
    = icon_link_to :'icfl-tent', '', '#'
    = icon_link_to :'icfl-hospital', '', '#'
    = icon_link_to :'icfl-tunnel', '', '#'
    = icon_link_to :'icfl-drop', '', '#'
    = icon_link_to :'icfl-vaccine', '', '#'
    = icon_link_to :'icfl-bell', '', '#'
    = icon_link_to :'icfl-truck', '', '#'
    = icon_link_to :'icfl-car', '', '#'
    = icon_link_to :'icfl-bus', '', '#'
    = icon_link_to :'icfl-train', '', '#'
    = icon_link_to :'icfl-subway', '', '#'
    = icon_link_to :'icfl-helicopter', '', '#'
    = icon_link_to :'icfl-boat', '', '#'
    = icon_link_to :'icfl-clark', '', '#'
    = icon_link_to :'icfl-handtruck', '', '#'
    = icon_link_to :'icfl-shoppingcart', '', '#'
    = icon_link_to :'icfl-tag', '', '#'
    = icon_link_to :'icfl-recyclable', '', '#'
    = icon_link_to :'icfl-wheat', '', '#'
    = icon_link_to :'icfl-biohazard', '', '#'
    = icon_link_to :'icfl-balance', '', '#'
    = icon_link_to :'icfl-anchor', '', '#'
    = icon_link_to :'icfl-community', '', '#'
    = icon_link_to :'icfl-family', '', '#'
    = icon_link_to :'icfl-baby', '', '#'
    = icon_link_to :'icfl-pregnant', '', '#'
    = icon_link_to :'icfl-recreation', '', '#'
    = icon_link_to :'icfl-dog', '', '#'
    = icon_link_to :'icfl-bug', '', '#'
    = icon_link_to :'icfl-flag', '', '#'
    = icon_link_to :'icfl-test', '', '#'
    = icon_link_to :'icfl-notebook', '', '#'
    = icon_link_to :'icfl-printer', '', '#'
    = icon_link_to :'icfl-robot', '', '#'
    = icon_link_to :'icfl-delete', '', '#'
    = icon_link_to :'icfl-key', '', '#'
    = icon_link_to :'icfl-settings', '', '#'
    = icon_link_to :'icfl-book', '', '#'
    = icon_link_to :'icfl-antenna', '', '#'
    = icon_link_to :'icfl-wifi', '', '#'
    = icon_link_to :'icfl-markasfail', '', '#'
    = icon_link_to :'icfl-onoff', '', '#'
    = icon_link_to :'icfl-message', '', '#'
    = icon_link_to :'icfl-unknown', '', '#'
    = icon_link_to :'icfl-filter', '', '#'
    = icon_link_to :'icfl-answer', '', '#'
    = icon_link_to :'icfl-dial', '', '#'
    = icon_link_to :'icfl-numeral', '', '#'
    = icon_link_to :'icfl-microphone', '', '#'
    = icon_link_to :'icfl-sound', '', '#'
    = icon_link_to :'icfl-forwardcall', '', '#'
    = icon_link_to :'icfl-callback', '', '#'
    = icon_link_to :'icfl-bookmark', '', '#'
    = icon_link_to :'icfl-cloud', '', '#'
    = icon_link_to :'icfl-directions', '', '#'
    = icon_link_to :'icfl-phone', '', '#'
    = icon_link_to :'icfl-database', '', '#'
    = icon_link_to :'icfl-faucet', '', '#'
    = icon_link_to :'icfl-airplane', '', '#'
    = icon_link_to :'icfl-gaspump', '', '#'
    = icon_link_to :'icfl-box', '', '#'
    = icon_link_to :'icfl-table', '', '#'
    = icon_link_to :'icfl-change', '', '#'
    = icon_link_to :'icfl-open', '', '#'
    = icon_link_to :'icfl-free', '', '#'
    = icon_link_to :'icfl-plug', '', '#'
    = icon_link_to :'icfl-android', '', '#'
    = icon_link_to :'icfl-query', '', '#'


  %hr

  %h3 Large Plain icon buttons
  %p
    %code
      \= icon_link_to :'icpl-hierarchy', '', '#', {:class => 'flat'}
  .btn-grouped
    = icon_link_to :'icpl-hierarchy', '', '#', {:class => 'flat'}
    = icon_link_to :'icpl-settings', '', '#', {:class => 'flat'}
    = icon_link_to :'icpl-shakehands', '', '#', {:class => 'flat'}
    = icon_link_to :'icpl-users', '', '#', {:class => 'flat'}
    = icon_link_to :'icpl-key', '', '#', {:class => 'flat'}
    = icon_link_to :'icpl-shield', '', '#', {:class => 'flat'}
    = icon_link_to :'icpl-lock', '', '#', {:class => 'flat'}
    = icon_link_to :'icpl-text', '', '#', {:class => 'flat'}
    = icon_link_to :'icpl-number', '', '#', {:class => 'flat'}
    = icon_link_to :'icpl-label', '', '#', {:class => 'flat'}
    = icon_link_to :'icpl-thermometer', '', '#', {:class => 'flat'}
    = icon_link_to :'icpl-location', '', '#', {:class => 'flat'}
    = icon_link_to :'icpl-date', '', '#', {:class => 'flat'}
    = icon_link_to :'icpl-message', '', '#', {:class => 'flat'}
    = icon_link_to :'icpl-database', '', '#', {:class => 'flat'}
    = icon_link_to :'icpl-claim', '', '#', {:class => 'flat'}
    = icon_link_to :'icpl-pie', '', '#', {:class => 'flat'}
    = icon_link_to :'icpl-folder', '', '#', {:class => 'flat'}
    = icon_link_to :'icpl-yesno', '', '#', {:class => 'flat'}
    = icon_link_to :'icpl-twitter', '', '#', {:class => 'flat'}
    = icon_link_to :'icpl-facebook', '', '#', {:class => 'flat'}
    = icon_link_to :'icpl-bell', '', '#', {:class => 'flat'}
    = icon_link_to :'icpl-preview', '', '#', {:class => 'flat'}
    = icon_link_to :'icpl-medicalkit', '', '#', {:class => 'flat'}
    = icon_link_to :'icpl-wizard', '', '#', {:class => 'flat'}
    = icon_link_to :'icpl-groupchat', '', '#', {:class => 'flat'}
    = icon_link_to :'icpl-report', '', '#', {:class => 'flat'}
    = icon_link_to :'icpl-news', '', '#', {:class => 'flat'}
    = icon_link_to :'icpl-automatic', '', '#', {:class => 'flat'}
    = icon_link_to :'icpl-alert', '', '#', {:class => 'flat'}
    = icon_link_to :'icpl-rss', '', '#', {:class => 'flat'}
